/*  your css code here. If applicable */

  table {
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    background-color: yellow;
    border: 1px solid black;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: yellow;
  }
